.ayush{
    color: blue;
}
.aaa{
   background-color: blue;
   color: white;
   padding: 0px 50px 0px 50px;
}
.log{
    color: blue;
}
.bbbb{
    background-color: aliceblue;
    margin: 0px 200px 0px 200px;
}